body{
    background-color: rgb(152, 191, 224);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex-direction: column;
    height:50VH ;

}
div{

    display: flex;
    justify-content: space-between;
    width: 60%;
    
}
#p1{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#b1{
    background-color: rgb(27, 104, 177);
    padding: 10px;
    border: none;
    border-radius: 30px;
}
#b2{
    background-color: rgb(27, 104, 177);
    padding: 10px;
    border: none;
    border-radius: 30px;
}
#b3{
    background-color: rgb(27, 104, 177);
    padding: 10px;
    border: none;
    border-radius: 30px;
}
#b4{
    background-color: rgb(27, 104, 177);
    padding: 10px;
    border: none;
    border-radius: 30px;
}
#b1:hover{
    background-color: rgb(137, 186, 241);
    transform: scale(1.2);
}
#b2:hover{
    background-color:  rgb(137, 186, 241);
    transform: scale(1.2);
}
#b3:hover{
    background-color:  rgb(137, 186, 241);
    transform: scale(1.2);
}
#b4:hover{
    background-color:  rgb(137, 186, 241);
    transform: scale(1.2);
}
h1{
    color: rgb(27, 27, 197);
}
